@model CompetitionSimulator.UI.ViewModel.CompetitionViewModel

@{
    ViewBag.Title = "Eredivisie simulatie";
    Layout = "_Layout";
}



<div class="row">
    <div class="col-md-12">
        <h2>Eredivisie</h2>
        
        @{ Html.RenderPartial("_CompetitionTable", Model); }
        
        <p>
            @Html.ActionLink(
                linkText:"Opnieuw",
                actionName: "Index",
                controllerName: "Eredivisie",
                htmlAttributes: new { @class = "btn btn-primary btn-lg" },
                routeValues: null
                )
        </p>

        @{ Html.RenderPartial("_CompetitionFixtures", Model); }
    </div>
</div>